@media screen and (max-width: 1200px) {

  main {
    display: grid;
    width:100vw;
    grid-template-columns: 220px calc(25% - 55px) calc(75% - 165px);
    grid-template-rows: 90px 160px 50px 370px 250px 900px 200px 100px;
    grid-template-areas: 
                "a b b "
                "a c c "
                "a d d "
                "a e e "
                "a f f "
                "a g g "
                "a i i "
                "a h h ";
                
/* shit where is h*/
  }

  /* GRID SECTIONS */
  .graph__donut {
    border-bottom: none;
  }

  .graph__bar {
    border-top: none;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* POSITION TITLE */

  .title__name h1 {
  font-size: 1.34rem;
}

  /* NAV JOB POSITION MID PAGE */
  .nav__position--list li a {
    padding-bottom: 16px;
    margin: 0 10%;  
    font-size: .8rem;
  }

  #nav__link--1 {
  }

  /* DONUT GRAPH */
  

  /* LINKS SECTIONS */

  .link__article {
    margin: 0;
    width: 30%;
    display: inline-block;
    border: none;
  }

  /* SOCIAL LINKS */

  .social__links {
    display: none;
  }

  .icons__responsive {
    display: inline-block;
    font-size: 5vh;
    color: #364051;
  }

}

@media screen and (max-width: 910px) {
  main {
    display: grid;
    width:100vw;
    grid-template-columns: 55vw 15vw 30vw;
    grid-template-rows: 90px 160px 50px 370px 250px 900px 200px 100px;
    grid-template-areas: 
                "b b b"
                "c c c"
                "d d d"
                "e e e"
                "f f f"
                "g g g"
                "i i i"
                "h h h";

  }

  .nav__site {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  main {
    display: grid;
    width:100vw;
    grid-template-columns: 55vw 15vw 30vw;
    grid-template-rows: 90px 160px 50px 370px 250px 900px 200px 100px;
    grid-template-areas: 
                "b b b"
                "c c c"
                "d d d"
                "e e e"
                "f f f"
                "g g g"
                "i i i"
                "h h h";

  }
}

