body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

/* GRID */

main {
  display: grid;
  width:100vw;
  grid-template-columns: 220px calc(55% - 121px) calc(15% - 33px) calc(30% - 66px);
  grid-template-rows: 90px 160px 50px 370px 270px 730px;
  grid-template-areas: 
              "a b b b"
              "a c c c"
              "a d d d"
              "a e f f"
              "a g g h"
              "a g g i"
              "a g g i"
              "a g g i";

}

/* ========================================
              GRID SECTIONS 
========================================*/

.nav__site {
  grid-area: a;
  background-color: #364051;
}

.search {
  grid-area: b;
  display: flex;
  background-color: white;
}

.title {
  grid-area: c;
  display: flex;
  border-top: 1.5px solid #f5f5f7;
  background-color: white;
}

.nav__position {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.graph__donut {
  grid-area: e;
  border-bottom: 3px solid #e8ebf0;
  border-top: 3px solid #e8ebf0;
  background-color: #edf2f6;
}

.graph__bar {
  grid-area: f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #e8ebf0;
  border-top: 3px solid #e8ebf0;
  background-color: #edf2f6;
}

.description {
  grid-area: g;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f6;
}

.social {
  grid-area: h;
  display: flex;
  flex-wrap:wrap;
  align-items: space-around;
  background-color: #edf2f6;
}

.links {
  grid-area: i;
  background-color: #edf2f6;
}

  
/* ========================================
              NAV
========================================*/

.user {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.user img {
  height: 80px;
  border-radius: 50%;
}

.user p {
  margin-top:30px;
  color: #aebacc;
}

.nav__site h3 {
  margin-left: 30px;
  line-height: 3;
  font-size: .8rem;
  color: rgb(98, 111, 129);
}

.nav__site a {
  padding: 13px 60px 13px 30px;
  line-height: 3;
  text-transform: uppercase;
  text-decoration: none;
  color: #aebacc;
}

.nav__site a:hover {
  color: rgb(240, 246, 247);
  cursor: pointer;
}

.nav__site li {
  font-size: .8rem;
  transition: .3s;
}

.nav__site li:hover {
  border-left: 5px solid aqua;
  background-color: rgb(48, 58, 75);
  cursor: pointer;
}

.nav__icon {
  margin-right: 10px;
}

.nav__icon:hover {
  color: rgb(240, 246, 247);
  cursor: pointer;
}

hr {
  border: 1px solid rgb(48, 58, 75);
}

.checkboxes {
  padding: 13px 60px 13px 30px;
}

.check {
  position: relative;
  display: block;
  padding-left: 25px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: .8rem;
  color: #aebacc;
  text-transform: uppercase;
  user-select: none;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
}

.check-1 {
  background-color: #fed512;
}

.check-2 {
  background-color: #2fb1f6;
}

.check-3 {
  background-color: #e81a60;
}

.check-4 {
  background-color: #06ab89;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ========================================
              SEARCH 
========================================*/

.search__list, 
.search__page, 
.search__person, 
.search__menu {
  width: 92px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1.5px solid #f5f5f7;
}

.search__icons {
  padding: 38px;
  font-size: 150%;
  color: #a2acbe;
}

.fa-angle-double-right {
  display: none;
}

.search__icons:hover {
  color: white;
}

.search__list:hover, 
.search__page:hover, 
.search__person:hover, 
.search__menu:hover {
  background-color: #44a4fa;
  cursor: pointer;
}

.search__person {
  border-left: 1.5px solid #f5f5f7;
}

.search__bar {
  width: calc(100% - 368px);
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-search  {
  margin-right: 2%;
  font-size: 120%;
  color: #a2acbe;
}

.search__input {
  height: 100%;
  width: 90%;
  float: right;
  border: none;
  outline: none;
  font-size: 1rem;
}


/* ========================================
              JOB DESCRIPTION
========================================*/

.table {
  width: 86%;
  height: 88%;
  border-radius: 5px;
  line-height: 4;
  background-color: white;
}

.table table {
  width: 90%;
  margin: auto;
}

.table tr {
  margin-left: 20px;
  border-bottom: 1px solid gray;
}

#last {
  border: none;
}

.table__col--1 {
  padding-right: 150px;
  font-size: .85rem;
  text-transform: uppercase;
}

.table__col--2 {
  font-size: 1.2rem;
}

#description {
  padding-bottom: 15px;
  line-height: 1;
}

.table__banner {
  width: 100%;
  height: 80px;
  border-radius: 5px 5px 0 0;
  background-color: #6f7e95;
}

.table h2 {
  padding: 10px 0 0 5%;
  display: inline-block;
  text-transform: uppercase;
  color: white;
}

.table__banner button {
  height: 40px;
  width: 70px;
  margin-left: 30px;
  display: inline-block;
  border: none;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #7e8baa;
}

.icon__edit {
  margin-right: 5px;
}

.accordion {
  display: none;
}

/* ========================================
        JOB POSITION NAV MID PAGE
========================================*/

.nav__position--list {
  display: flex;
}


.nav__position--list li a {
  margin: 0 2vw;  
  padding-bottom: 14px;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #a1a6ab;
}

.nav__position--list li a:hover {
  border-bottom: 2px solid #36aef7;
  color: rgb(104, 102, 110);
}

#nav__link--1 {
  margin-left: 2vw;
}

.nav__mobile {
  display: none;
}

/* ========================================
            POSITION TITLE
========================================*/

.title__name, 
.title__icons {
  width: 50%;
}

.title__name {
  margin: auto 0 auto 4%;
}

.title__name h1 {
  font-size: 1.8rem;
}

.title__location {
  margin-right: 10px;
}

.title__name p {
  margin-top: 15px;
  display: inline-block;
  color: #a1a6ab;
}

.title__name a {
  text-decoration: none;
  color: #44a4fa;
}

.title__icons {
  margin-right: 3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title__icons button {
  margin-right: 3%;
  padding: 10px 20px;
  border: 1.5px solid #a2acbe;
  border-radius: 20px;
  background: none;
  font-size: 1rem;
  color: #a2acbe;
}

.title__icons button:hover {
  background: #6f7e95;
  color: white;
  cursor: pointer;
}

.open__green {
  font-size: 14px;
  color: chartreuse;
}

.title__icon {
  font-size: 18px;
  color: #a2acbe;
}

.icon--border {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 1.5px solid #a2acbe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--border:hover {
  background-color: #6f7e95;
  cursor: pointer;
}


.title__icon:hover {
  color: white;
  cursor: pointer;
}

/* ========================================
            LINKS SECTIONS
========================================*/

.link__article {
  height: 240px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #69727c;
}

.links h4 {
  margin-bottom: 20px;
  font-size: 1.15rem;
  font-weight: 700;
  color: #69727c;
}

.links p {
  margin-bottom: 30px;
  font-size: .8rem;
  color: #69727c;
}

.link__input {
  height: 45px;
  display: flex;
}

.link__input button {
  height: 52px;
  width: 20%;
  background-color: rgb(72, 182, 192);
  color: white;
}

.link__input input {
  height: 100%;
  width: 80%;
}

.end__article {
  border-bottom: none;
}

/* ========================================
           DONUT GRAPH SECTION
========================================*/

.donuts {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.graphs__caps {
  width: 34%;
  margin: 0 auto;
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  border: 1px solid #a2acbe;
  border-radius: 25px;
  font-size: .9rem;
  background-color: white;
}

/* ========================================
           BAR GRAPH SECTION
========================================*/

.graph__svg {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph__info {
 margin-top: 5%;
}

.graph__info--text {
  width: 80%;
  padding: 10px 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid #a2acbe;
  border-radius: 25px;
  font-size: .9rem;
  background-color: white;
}

/* ========================================
           SOCIAL LINKS SECTION
========================================*/

.social__links {
  height: 52px;
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.social__links a {
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.social__icon {
  margin-left: 20px;
  color: white;
}

.facebook {
  margin-top: 60px;
  background-color: #4c71c3;
}

.twitter {
  background-color: #03aaef;
}

.linkedin {
  background-color: #0381bc;
}

.icons__responsive {
  display: none;
}


