body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

/* GRID */

main {
  display: grid;
  width:100vw;
  grid-template-columns: 220px calc(55% - 121px) calc(15% - 33px) calc(30% - 66px);
  grid-template-rows: 90px 160px 50px 370px 270px 730px;
  grid-template-areas: 
              "a b b b"
              "a c c c"
              "a d d d"
              "a e f f"
              "a g g h"
              "a g g i"
              "a g g i"
              "a g g i";

}

/* GRID SECTIONS */

.nav__site {
  grid-area: a;
  background-color: #364051;
}

.search {
  grid-area: b;
  background-color: white;
  display: flex;
}

.title {
  grid-area: c;
  background-color: white;
  display: flex;
  border-top: 1px solid gray;
}

.nav__position {
  grid-area: d;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.graph__donut {
  grid-area: e;
  background-color: #edf2f6;
}

.graph__bar {
  grid-area: f;
  background-color: #edf2f6;
}

.description {
  grid-area: g;
  background-color: #edf2f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  grid-area: h;
  background-color: #edf2f6;
  display: flex;
  flex-wrap:wrap;
  align-items: space-around;
}

.links {
  grid-area: i;
  background-color: #edf2f6;
}

  
/* NAV */

.user {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.user img {
  height: 80px;
  border-radius: 50%;
}

.user p {
  margin-top:30px;
}

.nav__site h3 {
  line-height: 3;
  margin-left: 30px;
  font-size: .8rem;
  color: rgb(98, 111, 129);
}

.nav__site a {
  padding: 13px 60px 13px 30px;
  line-height: 3;
  text-transform: uppercase;
  text-decoration: none;
  color: #aebacc;
}

.nav__site a:hover {
  color: rgb(240, 246, 247);
}

.nav__site li {
  font-size: .8rem;
  transition: .3s;
}

.nav__site li:hover {
  background-color: rgb(48, 58, 75);
  border-left: 5px solid aqua;
}

.nav__icon {
  margin-right: 10px;
}

.nav__icon:hover {
  color: rgb(240, 246, 247);
}

hr {
  border: 1px solid rgb(48, 58, 75);
}


/* SEARCH */

.search__list, .search__page, .search__person, .search__menu {
  width: 92px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}

.search__icons {
  color: #a2acbe;
  font-size: 150%;
  padding: 38px;
}

.search__icons:hover {
  color: white;
}

.search__list:hover, .search__page:hover, .search__person:hover, .search__menu:hover {
  background-color: #44a4fa;
}

.search__person {
  border-left: 1px solid gray;
}

.search__bar {
  width: calc(100% - 368px);
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-search  {
  font-size: 120%;
  color: #a2acbe;
  margin-right: 2%;
}

.search__input {
  height: 100%;
  width: 90%;
  float: right;
  font-size: 1rem;
  border: none;
  outline: none;
}


/* JOB DESCRIPTION */

.table {
  background-color: white;
  width: 86%;
  height: 88%;
  line-height: 3;
  border-radius: 5px;
}

.table table {
  width: 85%;
  margin: auto;
}

.table tr {
  border-bottom: 1px solid gray;
  margin-left: 20px;
}

.table__col--1 {
  padding-right: 150px;
  text-transform: uppercase;
  font-size: .85rem;
}

.table__col--2 {
  font-size: 1.2rem;
}

#description {
  line-height: 1;
  padding-bottom: 15px;
}

.table__banner {
  width: 100%;
  height: 70px;
  background-color: grey;
  border-radius: 5px 5px 0 0;
}

.table h2 {
  text-transform: uppercase;
  padding: 10px 0 0 5%;
  color: white;
}

/* JOB POSITION NAV MID PAGE */

.nav__position--list {
  display: flex;
}

.nav__position--list li a:hover {
  border-bottom: 2px solid blue;
}

.nav__position--list li a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 2vw;  
  font-size: .9rem;
  color: rgb(203, 204, 206);
}

.nav__position--list li a:hover {
  color: rgb(104, 102, 110);
}

#nav__link--1 {
  margin-left: 2vw;
}



/* POSITION TITLE */

.title__name, .title__icons {
  width: 50%;
}

.title__name {
  margin: auto 0 auto 4%;
}

.title__name h1 {
  font-size: 1.8rem;
}

.title__location {
  margin-right: 10px;
}

.title__name p {
  margin-top: 15px;
  display: inline-block;
  color: rgb(203, 204, 206);
}

.title__name a {
  text-decoration: none;
  color: #44a4fa;
}

.title__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
}

.title__icons button {
  padding: 10px 20px;
  border: 1.5px solid #a2acbe;
  border-radius: 20px;
  background: none;
  color: #a2acbe;
  font-size: 1rem;
}

.ball-green {
  border: 5px solid green;
  border-radius: 10px;
}

.title__icon {
  font-size: 18px;
  color: #a2acbe;
}

.icon--border {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 1.5px solid #a2acbe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LINKS SECTION */

.links {
}

.link__article {
  height: 240px;
  width: 90%;
  display: flex;
  border-bottom: 1px solid #69727c;
  flex-direction: column;
  justify-content: center;
}

.links h4 {
  margin-bottom: 20px;
  font-size: 1.15rem;
  font-weight: 700;
  color: #69727c;
}

.links p {
  margin-bottom: 30px;
  font-size: .8rem;
  color: #69727c;
}

.link__input {
  height: 45px;
  display: flex;
}

.link__input button {
  height: 52px;
  width: 20%;
  color: white;
  background-color: rgb(72, 182, 192);
}

.link__input input {
  height: 100%;
  width: 80%;
}


/* DONUT GRAPH SECTION */

.donuts {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.graphs__caps {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: -20px auto 10px;
  padding: 10px 20px;
  border: 1px solid #a2acbe;
  border-radius: 25px;
  background-color: white;
}

/* BAR GRAPH SECTION */

/* SOCIAL */

.social__links {
  height: 52px;
  width: 320px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.social__links a {
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.social__icon {
  margin-left: 20px;
  color: white;
}

.facebook {
  margin-top: 60px;
  background-color: #4c71c3;
}

.twitter {
  background-color: #03aaef;
}

.linkedin {
  background-color: #0381bc;
}


